<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net472" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="NUnit" version="3.13.3" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="4.2.1" targetFramework="net472" />
  <package id="Selenium.Support" version="4.2.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.2.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="102.0.5005.6102" targetFramework="net472" />
  <package id="ServiceStack.Common" version="6.1.0" targetFramework="net472" />
  <package id="ServiceStack.Interfaces" version="6.1.0" targetFramework="net472" />
  <package id="ServiceStack.Text" version="6.1.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
</packages>